# pip-tools requirements.in config file
# ------------------------------------------
# When new module is needed, update this file with the new module, then run: 
#    pip-compile --upgrade requirements.in
#
# Then: pip install -r requirements.txt


# Dépendances principales
fastapi
uvicorn
websockets
pydantic
python-multipart
pyaudio
psutil

# Gestion des LLM et agents
transformers==4.36.2
langchain
langchain-community
langchain-ollama
langchain-openai
faiss-cpu
openai

# Reconnaissance et synthèse vocale
piper-tts
sentence-transformers

# Utilitaires
python-dotenv
httpx
numpy<2.0.0
networkx    # pour Visualiser graph symbolique
backoff
networkx
colorama

# Utility for viewing Calling graphs (dev and debug purpose)
streamlit

# Skills
phue